.overlay-wrapper {
	display: flex;
	flex-flow: column;
	gap: 0.2rem;
	position: relative;
	border: none;
	user-select: none;
}

.overlay-live {
	display: grid;
	gap: 2px;
	padding: 2px;
	background: var(--color-red);
}

.overlay-live.pilot {
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto;
}

.overlay-live-item {
	display: flex;
	background-color: white;
	font-size: 12px;
	justify-content: space-between;
	padding: 0px 4px;
}

.overlay-live-item span {
	font-weight: 700;
}

.overlay-main-wrapper {
	display: flex;
	background: var(--color-red);
	align-items: center;
	height: 3rem;
	padding: 2px;
	gap: 10px;
	box-sizing: border-box;
}

.overlay-main-wrapper::after {
	content: "";
	position: absolute;
	bottom: -6px;
	left: 50%;
	transform: translateX(-50%);
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid var(--color-red);
}

.overlay-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	aspect-ratio: 1 / 1;
	height: 100%;
}

.overlay-icon p {
	font-weight: 800;
	font-size: 1.5rem;
	line-height: 1.5rem;
}

.overlay-main {
	display: grid;
	grid-template-columns: 1fr auto;
	grid-template-rows: auto auto;
	width: 100%;
    gap: 6px 2rem;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	margin-right: 10px;
}

.overlay-title {
	color: white;
	font-weight: 700;
	line-height: 16px;
	font-size: 16px;
}

.overlay-subtitle {
	color: white;
	font-size: 10px;
	line-height: 10px;
}

.overlay-pilot-ac-type {
	background: white;
	font-size: 12px;
	line-height: 12px;
	font-weight: 700;
	text-align: center;
	padding: 2px 5px;
	width: fit-content;
}

.overlay-pilot-frequency {
	color: white;
	font-size: 12px;
	line-height: 12px;
	font-weight: 700;
}
