.panel {
	position: absolute;
	left: 1rem;
	top: 4.5rem;
	width: 20rem;
	max-height: calc(100% - 6rem);
	display: flex;
	flex-flow: column;
	transition: ease left 0.2s;
	background: rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(5px);
	border: 1px solid var(--color-border);
	gap: 1rem;
}

.panel.hide {
	left: -20rem;
}

.panel-container {
	display: flex;
	background-color: white;
	padding: 0.5rem;
	box-sizing: border-box;
	box-shadow: 1px 1px 5px 1px var(--color-box-shadow);
}

.panel-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.panel-id {
	background-color: var(--color-blue);
	color: white;
	font-size: 1rem;
	height: 1.5rem;
	line-height: 1.5rem;
	padding: 0rem 0.5rem;
	font-weight: 800;
}

.panel-close {
	background-color: var(--color-red);
	width: 1.5rem;
	height: 1.5rem;
	padding: 0.25rem;
}

.panel-close svg {
	fill: white;
}

.panel-container.title-section {
	display: flex;
	padding: 0rem;
}

.panel-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 4rem;
	aspect-ratio: 1 / 1;
	background-color: white;
}

.panel-icon p {
	font-weight: 800;
	font-size: 2rem;
	line-height: 2rem;
}

.panel-title {
    display: flex;
    flex-flow: column;
    width: 100%;
    padding: 0.5rem;
    justify-content: space-between;
}

.panel-title p {
	font-weight: 700;
	font-size: 1.25rem;
	white-space: nowrap;
	overflow: hidden;
}

.panel-desc-items {
	display: flex;
	gap: 0rem 0.5rem;
}

.panel-desc-item {
	display: flex;
	align-items: center;
	font-size: 0.875rem;
}

.panel-desc-text {
	white-space: nowrap;
}

.panel-desc-icon {
	color: var(--color-light-text);
	font-weight: 600;
	margin-right: 0.375rem;
}

.panel-navigation {
	display: flex;
	background-color: white;
	box-shadow: 1px 1px 5px 1px var(--color-box-shadow);
}

.panel-navigation-button {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 0.5rem;
}

.panel-navigation-button p {
	height: 0rem;
	opacity: 0;
	overflow: hidden;
	transition:
		ease 0.2s height,
		opacity;
	display: flex;
	align-items: flex-end;
}

.panel-navigation:hover .panel-navigation-button p {
	height: 1.5rem;
	opacity: 1;
}

.panel-navigation-button svg {
	fill: var(--color-main-text);
	height: 1rem;
}

.panel-navigation-button:hover,
.panel-navigation-button.highlight {
	background-color: var(--color-green);
}

.panel-navigation-button:hover svg,
.panel-navigation-button.highlight svg {
	fill: white;
}

.panel-navigation-button:hover p,
.panel-navigation-button.highlight p {
	color: white;
}
